openapi: 3.0.3
info:
  title: Yareta Research Data Access Ingest API
  description: 'Yareta is the University of Geneva (UNIGE) e-Research long-term research-data preservation and access platform, built on the DLCM (Data Life Cycle Management) software stack. This OpenAPI description merges the public DLCM/Yareta backend modules: the Accession/Access service (https://access.yareta.unige.ch) for discovering, ordering and downloading archives (AIP/DIP), and the Ingestion/Pre-ingest service (https://ingest.yareta.unige.ch) for depositing and submitting research data. Faithfully converted from the live OpenAPI 3.1 definitions (Yareta API v3.1.7); only real paths and schemas are retained.'
  version: 3.1.7
  contact:
    email: yareta-admin@unige.ch
servers:
- url: https://access.yareta.unige.ch
  description: Accession / Access module (discovery, orders, DIP download)
- url: https://ingest.yareta.unige.ch
  description: Pre-ingest / Ingestion module (deposits, submission)
tags:
- name: Ingest
  description: Deposit, validate and submit research data.
paths:
  /preingest/deposits:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_list
      parameters:
      - name: access
        in: query
        description: The access level of the deposit.
        required: false
        schema:
          type: string
          enum:
          - PUBLIC
          - RESTRICTED
          - CLOSED
      - name: additionalFieldsFormId
        in: query
        description: The additional fields form ID used to generate the additional fields values.
        required: false
        schema:
          type: string
      - name: additionalFieldsValues
        in: query
        description: Some eventual additional fields values generated through an additional fields form.
        required: false
        schema:
          type: string
      - name: archiveTypeId
        in: query
        description: The archive type identifier of the deposit.
        required: false
        schema:
          type: string
      - name: ark
        in: query
        description: The ARK Identifier of the deposit.
        required: false
        schema:
          type: string
      - name: collectionBegin
        in: query
        description: The start date of the deposit for collecting data.
        required: false
        schema:
          type: string
          format: date-time
      - name: collectionEnd
        in: query
        description: The end date of the deposit for collecting data.
        required: false
        schema:
          type: string
          format: date-time
      - name: containsUpdatedMetadata
        in: query
        description: If the package contains updated metadata.
        required: false
        schema:
          type: boolean
      - name: contentStructurePublic
        in: query
        description: If the archive structure content is public.
        required: false
        schema:
          type: boolean
      - name: dataSensitivity
        in: query
        description: The data sensitivity of the deposit.
        required: false
        schema:
          type: string
          enum:
          - UNDEFINED
          - BLUE
          - GREEN
          - YELLOW
          - ORANGE
          - RED
          - CRIMSON
      - name: dataUsePolicy
        in: query
        description: The data use policy of the deposit.
        required: false
        schema:
          type: string
          enum:
          - NONE
          - LICENSE
          - CLICK_THROUGH_DUA
          - SIGNED_DUA
          - EXTERNAL_DUA
      - name: description
        in: query
        description: The description of the deposit.
        required: false
        schema:
          type: string
      - name: doi
        in: query
        description: The Digital Object Identifier (DOI) of the deposit.
        required: false
        schema:
          type: string
      - name: isIdenticalTo
        in: query
        description: DOI indicates that Archive A is identical to B, used to register two separate instances of the same resource.
        required: false
        schema:
          type: string
      - name: isObsoletedBy
        in: query
        description: DOI indicates A is replaced by B.
        required: false
        schema:
          type: string
      - name: languageId
        in: query
        description: The language identifier of the deposit.
        required: false
        schema:
          type: string
      - name: licenseId
        in: query
        description: The license identifier of the deposit.
        required: false
        schema:
          type: string
      - name: metadataVersion
        in: query
        description: The metadata version of the deposit.
        required: false
        schema:
          type: string
          enum:
          - '1.0'
          - '1.1'
          - '2.0'
          - '2.1'
          - '3.0'
          - '3.1'
          - '4.0'
          - '5.0'
      - name: organizationalUnitId
        in: query
        description: The organizational unit identifier of the deposit.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: preparationId
        in: query
        description: The preparation identifier of the deposit.
        required: false
        schema:
          type: string
      - name: preservationPolicyId
        in: query
        description: The preservation policy identifier of the deposit.
        required: false
        schema:
          type: string
      - name: publicationDate
        in: query
        description: The publication date of the deposit.
        required: false
        schema:
          type: string
          format: date
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: sipId
        in: query
        description: The generated SIP identifier of the deposit.
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: The status of the deposit.
        required: false
        schema:
          type: string
          enum:
          - APPROVED
          - CHECKED
          - CLEANED
          - CLEANING
          - COMPLETED
          - DELETING
          - IN_ERROR
          - IN_PROGRESS
          - IN_VALIDATION
          - REJECTED
          - SUBMITTED
          - EDITING_METADATA
          - UPGRADING_METADATA
          - CHECKING_COMPLIANCE
          - CHECKING_COMPLIANCE_CLEANED
          - COMPLIANCE_ERROR
          - CANCEL_EDITING_METADATA
          - EDITING_METADATA_REJECTED
          - SUBMISSION_AGREEMENT_APPROVED
          - RELOADING
      - name: statusMessage
        in: query
        description: The detailed message related to the deposit status.
        required: false
        schema:
          type: string
      - name: submissionPolicyId
        in: query
        description: The submission policy identifier of the deposit.
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: The title of the deposit.
        required: false
        schema:
          type: string
      - name: lightVersion
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionDeposit'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deposit'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Deposit'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_deleteList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/submission-agreements:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSubmissionAgreement'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubmissionAgreement'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/subject-areas:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSubjectArea'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubjectArea'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/licenses:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionLicense'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_list
      parameters:
      - name: complianceLevel
        in: query
        required: false
        schema:
          type: string
          enum:
          - NOT_ASSESSED
          - NO_COMPLIANCE
          - WEAK_COMPLIANCE
          - AVERAGE_COMPLIANCE
          - FULL_COMPLIANCE
      - name: dataCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: dataType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: fileName
        in: query
        required: false
        schema:
          type: string
      - name: fileSize
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: finalData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: relativeLocation
        in: query
        required: false
        schema:
          type: string
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CHANGE_RELATIVE_LOCATION
          - CHANGE_DATA_CATEGORY
          - CLEANED
          - CLEANING
          - EXCLUDED_FILE
          - CHECK_COMPLIANCE
          - CHECK_COMPLIANCE_CLEANED
          - CHECKED_COMPLIANCE
          - CHECKED_COMPLIANCE_CLEANED
          - IGNORED_FILE
          - DOWNLOAD_IN_PROGRESS
          - FILE_FORMAT_IDENTIFIED
          - FILE_FORMAT_SKIPPED
          - FILE_FORMAT_UNKNOWN
          - IN_ERROR
          - PROCESSED
          - READY
          - RECEIVED
          - TO_PROCESS
          - VIRUS_CHECKED
          - VIRUS_SKIPPED
      - name: statusMessage
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionDepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositDataFile'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/{id}/validate:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_validate
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/{id}/resume:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_resume
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/validate:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_validate
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/resume:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_resume
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/resume-all:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_resume-all_resumeList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/delete-folder:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_delete-folder
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: relativeLocation
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/contributors:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionPerson'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/aip:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/upload:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_upload
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: folder
        in: query
        required: false
        schema:
          type: string
      - name: metadataType
        in: query
        required: false
        schema:
          type: string
      - name: checksumMd5
        in: query
        required: false
        schema:
          type: string
      - name: checksumMd5Origin
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha1
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha1Origin
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha256
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha256Origin
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha512
        in: query
        required: false
        schema:
          type: string
      - name: checksumSha512Origin
        in: query
        required: false
        schema:
          type: string
      - name: checksumCrc32
        in: query
        required: false
        schema:
          type: string
      - name: checksumCrc32Origin
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/upload-metadata:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_upload-metadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/upload-archive:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_upload-archive
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: metadataType
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/submit-for-approval:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submit-for-approval
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/start-metadata-upgrade:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_start-metadata-upgrade_putInMetadataUpgrading
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/start-metadata-editing:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_start-metadata-editing_putInMetadataEditing
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/reserve-doi:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_reserve-doi
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Deposit'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/reject:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_reject
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: reason
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/put-in-error:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_put-in-error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/generate-anonymized-deposit-page:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_generate-anonymized-deposit-page
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/enable-revision:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_enable-revision
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/clean:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_clean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/check-submission-agreement:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_check-submission-agreement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/check-compliance:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_check-compliance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/cancel-metadata-editing:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_cancel-metadata-editing
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/approve:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_approve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}/approve-submission-agreement:
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_approve-submission-agreement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/search:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_search_advancedSearch_get
      parameters:
      - name: access
        in: query
        description: The access level of the deposit.
        required: false
        schema:
          type: string
          enum:
          - PUBLIC
          - RESTRICTED
          - CLOSED
      - name: additionalFieldsFormId
        in: query
        description: The additional fields form ID used to generate the additional fields values.
        required: false
        schema:
          type: string
      - name: additionalFieldsValues
        in: query
        description: Some eventual additional fields values generated through an additional fields form.
        required: false
        schema:
          type: string
      - name: archiveTypeId
        in: query
        description: The archive type identifier of the deposit.
        required: false
        schema:
          type: string
      - name: ark
        in: query
        description: The ARK Identifier of the deposit.
        required: false
        schema:
          type: string
      - name: collectionBegin
        in: query
        description: The start date of the deposit for collecting data.
        required: false
        schema:
          type: string
          format: date-time
      - name: collectionEnd
        in: query
        description: The end date of the deposit for collecting data.
        required: false
        schema:
          type: string
          format: date-time
      - name: containsUpdatedMetadata
        in: query
        description: If the package contains updated metadata.
        required: false
        schema:
          type: boolean
      - name: contentStructurePublic
        in: query
        description: If the archive structure content is public.
        required: false
        schema:
          type: boolean
      - name: dataSensitivity
        in: query
        description: The data sensitivity of the deposit.
        required: false
        schema:
          type: string
          enum:
          - UNDEFINED
          - BLUE
          - GREEN
          - YELLOW
          - ORANGE
          - RED
          - CRIMSON
      - name: dataUsePolicy
        in: query
        description: The data use policy of the deposit.
        required: false
        schema:
          type: string
          enum:
          - NONE
          - LICENSE
          - CLICK_THROUGH_DUA
          - SIGNED_DUA
          - EXTERNAL_DUA
      - name: description
        in: query
        description: The description of the deposit.
        required: false
        schema:
          type: string
      - name: doi
        in: query
        description: The Digital Object Identifier (DOI) of the deposit.
        required: false
        schema:
          type: string
      - name: isIdenticalTo
        in: query
        description: DOI indicates that Archive A is identical to B, used to register two separate instances of the same resource.
        required: false
        schema:
          type: string
      - name: isObsoletedBy
        in: query
        description: DOI indicates A is replaced by B.
        required: false
        schema:
          type: string
      - name: languageId
        in: query
        description: The language identifier of the deposit.
        required: false
        schema:
          type: string
      - name: licenseId
        in: query
        description: The license identifier of the deposit.
        required: false
        schema:
          type: string
      - name: match
        in: query
        required: false
        schema:
          type: string
      - name: metadataVersion
        in: query
        description: The metadata version of the deposit.
        required: false
        schema:
          type: string
          enum:
          - '1.0'
          - '1.1'
          - '2.0'
          - '2.1'
          - '3.0'
          - '3.1'
          - '4.0'
          - '5.0'
      - name: organizationalUnitId
        in: query
        description: The organizational unit identifier of the deposit.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: preparationId
        in: query
        description: The preparation identifier of the deposit.
        required: false
        schema:
          type: string
      - name: preservationPolicyId
        in: query
        description: The preservation policy identifier of the deposit.
        required: false
        schema:
          type: string
      - name: publicationDate
        in: query
        description: The publication date of the deposit.
        required: false
        schema:
          type: string
          format: date
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: sipId
        in: query
        description: The generated SIP identifier of the deposit.
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: The status of the deposit.
        required: false
        schema:
          type: string
          enum:
          - APPROVED
          - CHECKED
          - CLEANED
          - CLEANING
          - COMPLETED
          - DELETING
          - IN_ERROR
          - IN_PROGRESS
          - IN_VALIDATION
          - REJECTED
          - SUBMITTED
          - EDITING_METADATA
          - UPGRADING_METADATA
          - CHECKING_COMPLIANCE
          - CHECKING_COMPLIANCE_CLEANED
          - COMPLIANCE_ERROR
          - CANCEL_EDITING_METADATA
          - EDITING_METADATA_REJECTED
          - SUBMISSION_AGREEMENT_APPROVED
          - RELOADING
      - name: statusMessage
        in: query
        description: The detailed message related to the deposit status.
        required: false
        schema:
          type: string
      - name: submissionPolicyId
        in: query
        description: The submission policy identifier of the deposit.
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: The title of the deposit.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionDeposit'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: preingest_deposits_search_advancedSearch_post
      parameters:
      - name: match
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deposit'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionDeposit'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_list
      parameters:
      - name: aipId
        in: query
        description: The generated AIP identifier of the SIP.
        required: false
        schema:
          type: string
      - name: depositId
        in: query
        description: The source deposit identifier of the SIP.
        required: false
        schema:
          type: string
      - name: dispositionApproval
        in: query
        description: If the approval step the AIP disposal is mandatory.
        required: false
        schema:
          type: boolean
      - name: mainStorage
        in: query
        description: The main storage indice in configuration if the SIP. O means default storage (first one).
        required: false
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: publicationDate
        in: query
        description: The publication date of the deposit.
        required: false
        schema:
          type: string
          format: date
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: retention
        in: query
        description: 'The retention duration in days of the AIP: O means forever.'
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: submissionPolicyId
        in: query
        description: The submission policy identifier of the SIP.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: ingest_sip_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionInfoPackage'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_deleteList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/data:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_list
      parameters:
      - name: complianceLevel
        in: query
        required: false
        schema:
          type: string
          enum:
          - NOT_ASSESSED
          - NO_COMPLIANCE
          - WEAK_COMPLIANCE
          - AVERAGE_COMPLIANCE
          - FULL_COMPLIANCE
      - name: dataCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: dataType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: fileName
        in: query
        required: false
        schema:
          type: string
      - name: fileSize
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: finalData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: relativeLocation
        in: query
        required: false
        schema:
          type: string
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CHANGE_RELATIVE_LOCATION
          - CHANGE_DATA_CATEGORY
          - CLEANED
          - CLEANING
          - EXCLUDED_FILE
          - CHECK_COMPLIANCE
          - CHECK_COMPLIANCE_CLEANED
          - CHECKED_COMPLIANCE
          - CHECKED_COMPLIANCE_CLEANED
          - IGNORED_FILE
          - DOWNLOAD_IN_PROGRESS
          - FILE_FORMAT_IDENTIFIED
          - FILE_FORMAT_SKIPPED
          - FILE_FORMAT_UNKNOWN
          - IN_ERROR
          - PROCESSED
          - READY
          - RECEIVED
          - TO_PROCESS
          - VIRUS_CHECKED
          - VIRUS_SKIPPED
      - name: statusMessage
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSipDataFile'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipDataFile'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SipDataFile'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/data/{id}/resume:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_by_id_resume
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/data/{id}/put-in-error:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_by_id_put-in-error
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/aip:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_list
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_create
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_deleteList
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/upload:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_upload_sendFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SipDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/start-metadata-upgrade:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_start-metadata-upgrade_putInMetadataUpgrading
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/start-metadata-editing:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_start-metadata-editing_putInMetadataEditing
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/resume:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_resume
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/resubmit:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_resubmit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/put-in-error:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_put-in-error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}/clean:
    post:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_clean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Result'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/search:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_search_advancedSearch_get
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: match
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    post:
      tags:
      - Ingest
      operationId: ingest_sip_search_advancedSearch_post
      parameters:
      - name: match
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionInfoPackage'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionSubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/submission-agreements/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubmissionAgreement'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_submission-agreements_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionAgreement'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubmissionAgreement'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/subject-areas/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubjectArea'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_subject-areas_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectArea'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubjectArea'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/licenses/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/License'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_licenses_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/License'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/License'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/contributors/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Person'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_contributors_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Person'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/aip/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_aip_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivalInfoPackage'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{id}:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Deposit'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Deposit'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/data/{id}:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SipDataFile'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_data_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SipDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{parentid}/aip/{id}:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_by_id_get
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_by_id_delete
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_aip_by_id_update
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivalInfoPackage'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArchivalInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
  /ingest/sip/{id}:
    get:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
    delete:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - tokenAuth: []
      - auth: []
    patch:
      tags:
      - Ingest
      operationId: ingest_sip_by_id_update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubmissionInfoPackage'
      security:
      - tokenAuth: []
      - auth: []
  /preingest:
    get:
      tags:
      - Ingest
      operationId: preingest_home
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Module'
  /preingest/deposits/{parentid}/data/{id}/history:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_history
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionStatusHistory'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/{id}/download:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_download
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/{id}/download-token:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_by_id_download-token_getTokenForDepositDataFile
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadToken'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/search:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_search_get
      parameters:
      - name: complianceLevel
        in: query
        required: false
        schema:
          type: string
          enum:
          - NOT_ASSESSED
          - NO_COMPLIANCE
          - WEAK_COMPLIANCE
          - AVERAGE_COMPLIANCE
          - FULL_COMPLIANCE
      - name: dataCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: dataType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: fileName
        in: query
        required: false
        schema:
          type: string
      - name: fileSize
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: finalData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: match
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: relativeLocation
        in: query
        required: false
        schema:
          type: string
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CHANGE_RELATIVE_LOCATION
          - CHANGE_DATA_CATEGORY
          - CLEANED
          - CLEANING
          - EXCLUDED_FILE
          - CHECK_COMPLIANCE
          - CHECK_COMPLIANCE_CLEANED
          - CHECKED_COMPLIANCE
          - CHECKED_COMPLIANCE_CLEANED
          - IGNORED_FILE
          - DOWNLOAD_IN_PROGRESS
          - FILE_FORMAT_IDENTIFIED
          - FILE_FORMAT_SKIPPED
          - FILE_FORMAT_UNKNOWN
          - IN_ERROR
          - PROCESSED
          - READY
          - RECEIVED
          - TO_PROCESS
          - VIRUS_CHECKED
          - VIRUS_SKIPPED
      - name: statusMessage
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCollectionDepositDataFile'
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/list-status:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_list-status
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  enum:
                  - CHANGE_RELATIVE_LOCATION
                  - CHANGE_DATA_CATEGORY
                  - CLEANED
                  - CLEANING
                  - EXCLUDED_FILE
                  - CHECK_COMPLIANCE
                  - CHECK_COMPLIANCE_CLEANED
                  - CHECKED_COMPLIANCE
                  - CHECKED_COMPLIANCE_CLEANED
                  - IGNORED_FILE
                  - DOWNLOAD_IN_PROGRESS
                  - FILE_FORMAT_IDENTIFIED
                  - FILE_FORMAT_SKIPPED
                  - FILE_FORMAT_UNKNOWN
                  - IN_ERROR
                  - PROCESSED
                  - READY
                  - RECEIVED
                  - TO_PROCESS
                  - VIRUS_CHECKED
                  - VIRUS_SKIPPED
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/list-folders:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_list-folders
      parameters:
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      security:
      - tokenAuth: []
      - auth: []
  /preingest/deposits/{parentid}/data/list-current-status:
    get:
      tags:
      - Ingest
      operationId: preingest_deposits_by_id_data_list-current-status
      parameters:
      - name: complianceLevel
        in: query
        required: false
        schema:
          type: string
          enum:
          - NOT_ASSESSED
          - NO_COMPLIANCE
          - WEAK_COMPLIANCE
          - AVERAGE_COMPLIANCE
          - FULL_COMPLIANCE
      - name: dataCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: dataType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Primary
          - Observational
          - Experimental
          - Simulation
          - Derived
          - Reference
          - Digitalized
          - Secondary
          - Publication
          - DataPaper
          - Documentation
          - Software
          - Code
          - Binaries
          - VirtualMachine
          - Administrative
          - Document
          - WebSite
          - Other
          - Package
          - InformationPackage
          - UpdatePackage
          - Metadata
          - CustomMetadata
          - UpdatedMetadata
          - Internal
          - DatasetThumbnail
          - ArchiveThumbnail
          - ArchiveReadme
          - DatafileThumbnail
          - ArchiveDataUseAgreement
      - name: fileName
        in: query
        required: false
        schema:
          type: string
      - name: fileSize
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: finalData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: parentid
        in: path
        required: true
        schema:
          type: string
      - name: relativeLocation
        in: query
        required: false
        schema:
          type: string
      - name: resId
        in: query
        description: The identifier of the resource. The default format is a Universally Unique IDentifier (UUID).
        required: false
        schema:
          type: string
      - name: sourceData
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CHANGE_RELATIVE_LOCATION
          - CHANGE_DATA_CATEGORY
          - CLEANED
          - CLEANING
          - EXCLUDED_FILE
          - CHECK_COMPLIANCE
          - CHECK_COMPLIANCE_CLEANED
          - CHECKED_COMPLIANCE
          - CHECKED_COMPLIANCE_CLEANED
          - IGNORED_FILE
          - DOWNLOAD_IN_PROGRESS
          - FILE_FORMAT_IDENTIFIED
          - FILE_FORMAT_SKIPPED
          - FILE_FORMAT_UNKNOWN
          - IN_ERROR
          - PROCESSED
          - READY
          - RECEIVED
          - TO_PROCESS
          - VIRUS_CHECKED
          - VIRUS_SKIPPED
      - name: statusMessage
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
      security:
      - tokenAuth: []
      - auth: []
[...]
